/*******************************************
 * Área do Servidor - Menu
 *******************************************/
p#exibeIP{
    text-align: center;
    font-size: 10px;
}

/*******************************************
 * Rotina de Documentação
 *******************************************/
pre, code{
    max-height: 750px;
    color: #000;
    background: #fff;
    font-size: 13px;
    
    display: block;
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre;
    
    padding: 1em;
    border: 1px solid #ccc;
    border-left: 10px solid #ccc;
    border-radius: 5px;
    overflow: auto;
}

/*******************************************
 * Cadastro de Usuários
 *******************************************/
tr#senhaOk{
    background-color: #64E986;
}

tr#senhaNula{
    background-color: #FFA07A;
}

tr#senhaPadrao{
    background-color: #EDE275;
}
div#menuUsuarios{
    position: absolute;
    top: 1%;
    left: 60%;
} 

div#divLegendaUsuarios{
    position: absolute;
    top: 15%;
    left: 25%;
    width: 50%;
    height: auto;
    display: none;
}

div#divPermissao{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: auto;
    display: none;
}

/*******************************************
 * Histórico
 *******************************************/
tr#logLogin{
    background-color:#CCFF99;
}

tr#logRelatorio{
    background-color:#EEE8AA;
}

tr#logGrh{
    background-color:pink;
}

tr#logGti{
    background-color:cornflowerblue;
}

tr#logProcesso{
    background-color:khaki;
}

tr#logOutros{
    background-color:#E0E0E0;
}

div#divContagemExterna{
    position: absolute;
    top: 1%;
    left: 10%;
    width: 140px;
    font-size: 12px;
    text-align: center;
    background-color: #E0E0E0;
    padding: 5px;
}

div#divContagemInterna{    
    text-align: center;
    color: #B00000;
}
